
<div class="text-center mt-10 napisog">
  <div class="napiswy">
  <h1 class="text-6xl font-bold text-blue-600">Witamy w Shotphoto</h1>
</div>
<div class="napisdol">
  <p class="text-lg mt-4 text-gray-600">Twórz, edytuj i dziel się zdjęciami w kilka sekund.</p>
</div>
</div>
