


<% if photo.image.attached? %>
  
  <%= image_tag photo.image, class: "zdjecie" %>
<% else %>
  <p><strong>Image:</strong> Brak zdjęcia</p>
<% end %>
<div class="opis">
 <%= photo.user.email %>

<%= photo.title %>
</p>

</div>
