<p><strong>Title:</strong> <%= photo.title %></p>

<% if photo.image.attached? %>
  <p><strong>Image:</strong></p>
  <%= image_tag photo.image, class: "max-w-sm rounded-md mt-4" %>
<% else %>
  <p><strong>Image:</strong> Brak zdjęcia</p>
<% end %>

<p><strong>User:</strong> <%= photo.user_id %></p>
