<div class="header">
  <a class="linkhome" href="http://127.0.0.1:3000/">
    <h1 class="title">Shotphoto</h1>
  </a>
</div>

<% content_for :title, "Editing photo" %>

<div class="new-photo-container">
  <h1 class="new-photo-title">Edytuj Posta</h1>

  <div class="photo-form-wrapper">
    <%= render "form", photo: @photo %>
  </div>

  <div class="show-photo-buttons">
    <%= link_to "Zobacz posta", @photo, class: "edit-link" %>
    <%= link_to "Powrót do listy postów", photos_path, class: "back-link" %>
  </div>
</div>
