<div class="new-photo-container">
  <h1 class="new-photo-title">Nowy Post</h1>

  <div class="photo-form-wrapper">
    <%= render "form", photo: @photo %>
  </div>

  <%= link_to "Powrót", photos_path, class: "back-to-photos-link" %>
</div>
